dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Demo</title>
  </head>
  <body>
    <div class="tm-page">
      <main>
        <section>
          <div class="wrapper">
            <div class="tm-logo">
              <svg class="icon icon-logo ">
                <use xlink:href="/images/sprite/sprite.svg#logo"></use>
              </svg>
            </div>
            <h1>Hello!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="background-img"></div>
            <div><i data-uk-icon="checkbox"></i><i data-uk-icon="chevron_down"></i><i data-uk-icon="chevron-up"></i><i data-uk-icon="chevron-left"></i><i data-uk-icon="chevron-right"></i></div>
            <div><i data-uk-icon="icon: chevron_down; ratio: 3.7" style="color: purple"></i><i data-uk-icon="icon: chevron_down; ratio: 5" style="color: tomato"></i><i data-uk-icon="icon: chevron_down; ratio: 6.3" style="color: gold"></i></div>
            <div>
              <div data-uk-spinner></div>
              <div data-uk-spinner="ratio: 3" style="color: lightgrey"></div>
            </div>
          </div>
        </section>
      </main>
<footer class="tm-footer">
  <div class="wrapper"></div>
</footer>
    </div>
  <script defer src="/js/app.97a2eabb95df8a69750a.js"></script></body>
</html>

src/pug/pages/index.pug
extends ../layouts/main

block content
    section
        .wrapper
            .tm-logo
                +icon('logo')
            h1 Hello!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .background-img
            div
                i(data-uk-icon="checkbox")
                i(data-uk-icon="chevron_down")
                i(data-uk-icon="chevron-up")
                i(data-uk-icon="chevron-left")
                i(data-uk-icon="chevron-right")
            div
                i(data-uk-icon="icon: chevron_down; ratio: 3.7" style="color: purple")
                i(data-uk-icon="icon: chevron_down; ratio: 5" style="color: tomato")
                i(data-uk-icon="icon: chevron_down; ratio: 6.3" style="color: gold")
            div
                div(data-uk-spinner)
                div(data-uk-spinner="ratio: 3" style="color: lightgrey")
